.profileNav {
  color: #000 !important;
}

.profileNav:hover {
  cursor: pointer;
}

#loginPic {
  max-height: 75vh;
}

#loginContainer {
  max-width: 950px !important;
}
#currentProfileView {
  min-height: 80vh;
}


.bottomBorder{
  border-bottom: 1px solid #000 !important;
}

.profileManageDropDown {
  padding: 0 !important;
}

.profileManageDropDown a{
  text-decoration: none;
  color: #000;
}

.profileManageDropDown a li:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}